---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Translations } from '../i18n/translation.ts';
import VisualCarousel from '../components/organisms/carousel/VisualCarousel.astro';
import { fetchData } from "~/utils/apiService";
import InfoCard from '../components/molecules/cards/InfoCard.astro';
import PhotoCollage from '../components/organisms/collage/PhotoCollage.astro';
import BookingBar from '../components/organisms/booking/BookingBar.astro';

const lang = Astro.cookies.get('lang')?.value || 'es';
const t = Translations(lang);

const dataConfig = await fetchData('config');
const carouselResources = dataConfig?.carouselResources || [];
---

<BaseLayout titleKey="site.title" lang={lang} config={dataConfig}>
  <div class="relative w-full h-screen overflow-hidden">
    <VisualCarousel resources={carouselResources} videoZoomScale={1.2}  />
    <div class="absolute inset-0 flex items-center justify-center z-10 p-4">
      <BookingBar lang={lang} config={dataConfig}/>
    </div>
  </div>

  <div>
    <!-- About Us Section -->
    {dataConfig?.aboutUs && (
      <section class="py-24">
        <div class="container mx-auto px-6">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
            <!-- Left Column: Text -->
            <div class="text-center md:text-left">
              <h3 class="text-lg font-semibold text-accent mb-2">{dataConfig.aboutUs.subtitle[lang]}</h3>
              <h1 class="text-4xl font-bold text-primary mb-4">{dataConfig.aboutUs.mainTitle[lang]}</h1>
              <p class="text-gray-600 leading-relaxed mb-4">{dataConfig.aboutUs.welcomeParagraph[lang]}</p>
              <p class="text-gray-600 leading-relaxed">{dataConfig.aboutUs.commitmentParagraph[lang]}</p>
            </div>
            <!-- Right Column: Image Collage -->
            <div>
              <PhotoCollage images={dataConfig.aboutUs.images} />
            </div>
          </div>
        </div>
      </section>
    )}

    <!-- Rooms Section -->
    {dataConfig?.roomTypes && (
      <section class="bg-gray-100 py-16">
        <div class="container mx-auto px-6">
          <h2 class="text-3xl font-bold text-center text-primary mb-8">{t('nav.rooms')}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {dataConfig.roomTypes.map(roomType => (
              <InfoCard
                href={`/rooms/${roomType.id}`}
                imageSrc={roomType.src}
                imageAlt={roomType.name[lang]}
                title={roomType.name[lang]}
                description={t('home.explore_category')}
              />
            ))}
          </div>
          <div class="text-center mt-12">
            <a href="/rooms" class="bg-primary text-white font-bold py-3 px-8 rounded-lg hover:bg-accent transition-colors duration-300">
              {t('buttons.see_more')}
            </a>
          </div>
        </div>
      </section>
    )}

    <!-- Destinations Section -->
    {dataConfig?.destinationCategories && (
      <section class="py-16">
        <div class="container mx-auto px-6">
          <h2 class="text-3xl font-bold text-center text-primary mb-8">{t('nav.destinations')}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {dataConfig.destinationCategories.map(category => (
              <InfoCard
                href={`/destinations/${category.id}`}
                imageSrc={category.src}
                imageAlt={category.name[lang]}
                title={category.name[lang]}
                description={t('home.explore_category')}
              />
            ))}
          </div>
          <div class="text-center mt-12">
            <a href="/destinations" class="bg-primary text-white font-bold py-3 px-8 rounded-lg hover:bg-accent transition-colors duration-300">
              {t('buttons.see_more')}
            </a>
          </div>
        </div>
      </section>
    )}

    <!-- Gastronomy Section -->
    {dataConfig?.gastronomyCategories && (
      <section class="bg-gray-100 py-16">
        <div class="container mx-auto px-6">
          <h2 class="text-3xl font-bold text-center text-primary mb-8">{t('nav.gastronomy')}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {dataConfig.gastronomyCategories.map(category => (
              <InfoCard
                href={`/gastronomy/${category.id}`}
                imageSrc={category.src}
                imageAlt={category.name[lang]}
                title={category.name[lang]}
                description={t('home.explore_category')}
              />
            ))}
          </div>
          <div class="text-center mt-12">
            <a href="/gastronomy" class="bg-primary text-white font-bold py-3 px-8 rounded-lg hover:bg-accent transition-colors duration-300">
              {t('buttons.see_more')}
            </a>
          </div>
        </div>
      </section>
    )}

    <!-- Tours Section -->
    {dataConfig?.tourCategories && (
      <section class="py-16">
        <div class="container mx-auto px-6">
          <h2 class="text-3xl font-bold text-center text-primary mb-8">{t('nav.tours')}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {dataConfig.tourCategories.map(category => (
              <InfoCard
                href={`/tours/${category.id}`}
                imageSrc={category.src}
                imageAlt={category.name[lang]}
                title={category.name[lang]}
                description={t('home.explore_category')}
              />
            ))}
          </div>
          <div class="text-center mt-12">
            <a href="/tours" class="bg-primary text-white font-bold py-3 px-8 rounded-lg hover:bg-accent transition-colors duration-300">
              {t('buttons.see_more')}
            </a>
          </div>
        </div>
      </section>
    )}
  </div>
</BaseLayout>
