---
// src/pages/rooms/[id].astro
import BaseLayout from '../../layouts/BaseLayout.astro';
import { useTranslations } from '../../i18n/translation';
import { fetchData } from '../../utils/apiService.js';
import VisualResource from '../../components/molecules/media/VisualResource.astro';

export async function getStaticPaths() {
  const rooms = await fetchData('rooms');
  return rooms.map(room => ({
    params: { id: room.id },
    props: { room }
  }));
}

const lang = Astro.cookies.get('lang')?.value || 'es';
const t = useTranslations(lang);

const { id } = Astro.params;
const { room } = Astro.props;

console.info('Room ID:', id);
console.info('Room:', room);

if (!room) {
  return new Response(null, {
    status: 404,
    statusText: 'Not Found'
  });
}
---

<BaseLayout title={room.type[lang]} lang={lang}>
  <div class="container mx-auto py-24 px-4">
    <!-- Galería de Imágenes (Ejemplo simple) -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
      {room.images?.slice(0, 4).map((image, index) => (
        <div class:list={['rounded-lg overflow-hidden', {'md:col-span-2': index === 0}]}>
          <VisualResource src={image.src} alt={image.alt[lang]} type="image" class="w-full h-full object-cover" />
        </div>
      ))}
    </div>

    <!-- Detalles de la Habitación -->
    <div class="max-w-4xl mx-auto">
      <h1 class="text-4xl md:text-5xl font-bold text-gray-800 dark:text-white mb-4">{room.type[lang]}</h1>
      <p class="text-lg text-gray-600 dark:text-gray-300 mb-6">{room.description[lang]}</p>
      
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mt-8 mb-4">{t('pages.roomDetails.features')}</h2>
      <ul class="list-disc list-inside grid grid-cols-2 gap-x-8 gap-y-2 text-gray-700 dark:text-gray-300">
        {room.features[lang].map(feature => <li>{feature}</li>)}
      </ul>
    </div>
  </div>
</BaseLayout>