---
import Icono from "@/components/atoms/Icono.astro";
import { DEFAULT_LANG, Translations } from "@/i18n/translation.ts";

interface Props {
	_id?: string;
	lblKey: string;
	lang?: string;
	type?: "button" | "submit" | "reset";
	disabled?: boolean;
	className?: string;
	variant?: "primary" | "accent" | "outline-solid" | "ghost";
	fullWidth?: boolean;
	icon?: string;
	color?: string;
}

const {
	_id,
	lblKey,
	lang = DEFAULT_LANG,
	type = "button",
	disabled = false,
	className = "",
	variant = "accent",
	fullWidth = false,
	icon,
	color,
} = Astro.props;

const t = Translations(lang);

let baseClasses =
	"inline-flex items-center justify-center gap-2 px-5 py-2.5 text-sm font-medium rounded-2xl transition-all duration-200 focus:outline-hidden focus:ring-2 focus:ring-offset-2 shadow-xs";

switch (variant) {
	case "primary":
		baseClasses +=
			" bg-primary text-white hover:bg-primary/90 focus:ring-primary";
		break;
	case "accent":
		baseClasses += " bg-accent text-white hover:bg-accent/90 focus:ring-accent";
		break;
	case "outline-solid":
		baseClasses +=
			" border border-primary text-primary hover:bg-primary/10 focus:ring-primary";
		break;
	case "ghost":
		baseClasses += " text-primary hover:bg-primary/10 focus:ring-primary";
		break;
	default:
		baseClasses += " bg-gray-800 text-white hover:bg-gray-700";
		break;
}

if (disabled) baseClasses += " opacity-50 cursor-not-allowed";
if (fullWidth) baseClasses += " w-full";
---

<button
        id={_id}
        type={type}
        disabled={disabled}
        class:list={[baseClasses, className]}
        aria-disabled={disabled ? "true" : undefined}
>
    {icon && (
            <Icono name={icon} color={color}></Icono>
    )}
    {t(lblKey)}
    <slot />
</button>
