---
// src/components/organisms/home/HomeSection.astro
import InfoCard from '~/components/molecules/cards/InfoCard.astro';
import { Translations } from '~/i18n/translation';

interface Item {
  id: string;
  src: string;
  name: { [key: string]: string };
}

interface Props {
  lang: string;
  titleKey: string;
  items: Item[];
  baseHref: string;
  bgColorClass?: string;
  maxItems?: number; // nuevo, controla cuántos items mostrar
}

const { lang, titleKey, items, baseHref, bgColorClass = 'bg-white', maxItems = 4 } = Astro.props;
const t = Translations(lang);
---

<section class={`${bgColorClass} py-16`}>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-2xl md:text-3xl font-bold text-center text-primary mb-10 md:mb-12">{t(titleKey)}</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 md:gap-8">
      {items.slice(0, maxItems).map(item => (
        <InfoCard
          href={`${baseHref}/${item.id}`}
          imageSrc={item.src}
          imageAlt={item.name[lang]}
          title={item.name[lang]}
          description={t('home.explore_category')}
          lang={lang}
        />
      ))}
    </div>
    <div class="text-center mt-10 md:mt-12">
      <a href={baseHref} class="inline-flex items-center bg-primary text-white font-semibold py-3 px-6 md:px-8 rounded-lg hover:bg-accent transition-colors duration-300">
        {t('buttons.see_more')}
      </a>
    </div>
  </div>
</section>
