---
interface Props {
	id: string;
	name?: string;
	placeholder?: string;
	min?: number;
	max?: number;
	value?: number;
	step?: number;
	lang?: string;
}

const {
	id,
	name,
	placeholder,
	min = 0,
	max = 100,
	step = 1,
	value = 0,
	lang,
} = Astro.props;
---

<!--<div class="space-y-1">-->
<div class="relative w-full">
    <input type="number" id={id} name={name} min={min} max={max} step={step} value={value} placeholder={placeholder}
           class="w-full px-3 py-2 border border-gray-300 rounded-md bg-white text-gray-900 focus:ring-2 focus:ring-primary focus:border-transparent"/>
</div>