---
// src/components/atoms/Select.astro
interface Props {
	id?: string;
	name: string;
	options: { value: string | number; label: string }[];
	value?: number;

	lang?: string;
	required?: boolean;
	disabled?: boolean;
	classes?: string;
}

const {
	id,
	name,
	options = [],
	value,
	required = false,
	disabled = false,
	classes,
} = Astro.props;
---

<div class:list={["flex flex-col"]}>
    <select
        id={id}
        name={name}
        required={required}
        disabled={disabled}
        class:list={[
            "block w-full py-3 px-4 pr-8 border border-gray-300 rounded-md shadow-xs ",
            "text-black focus:outline-hidden focus:ring-accent focus:border-accent sm:text-sm",
            disabled ? "bg-gray-100 cursor-not-allowed" : "bg-white",
            classes,
        ]}
    >
        {
            options.map((i, index) => {
                if (typeof value === 'number' && index === value - 1) {
                    return (
                        <option value={i.value} selected>
                            {i.label}
                        </option>
                    );
                }
                return <option value={i.value}>{i.label}</option>;
            })
        }
    </select>
</div>
