---
// src/components/atoms/TextInput.astro
interface Props {
	label?: string;
	name: string;
	id?: string;
	type?: "text" | "email" | "password" | "number" | "tel" | "url";
	placeholder?: string;
	value?: string;
	required?: boolean;
	disabled?: boolean;
	className?: string;
	labelClass?: string;
	inputClass?: string;
}

const {
	label,
	name,
	id = name,
	type = "text",
	placeholder = "",
	value,
	required = false,
	disabled = false,
	className,
	labelClass,
	inputClass,
} = Astro.props;
---

<div class:list={['flex flex-col', className]}>
  {label && (
    <label for={id} class:list={['block text-sm font-medium text-primary mb-1', labelClass]}>
      {label}
      {required && <span class="text-red-500">*</span>}
    </label>
  )}
  <input
    type={type}
    id={id}
    name={name}
    placeholder={placeholder}
    value={value}
    required={required}
    disabled={disabled}
    class:list={[
      'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-xs ',
      'text-primary placeholder-gray-400 focus:outline-hidden focus:ring-accent focus:border-accent sm:text-sm',
      disabled ? 'bg-gray-100 cursor-not-allowed' : 'bg-white',
      inputClass
    ]}
  />
</div>
