---
// src/components/molecules/forms/DatePickerField.astro
import Row from '~/layouts/Row.astro';

import DateRangePicker from '../../atoms/DateRangePicker.astro';
import Label from '../../atoms/Label.astro';
import Icono from '../../atoms/Icono.astro';

interface Props {
    fieldId?: string;
    name: string;
    lblKey: string;
    lang: string;
    className?: string;
}

const {fieldId = 'date-range-picker', name, lblKey, lang, className} = Astro.props;
---

<div class:list={["flex flex-col", className]}>
    <Row class="items-end">
        <Icono name="calendar" classes="text-primary"/>
        <Label
                forId={fieldId}
                lblKey={lblKey}
                lang={lang}
                classes="font-bold mb-2"
        />
    </Row>

    <DateRangePicker
            forId={fieldId}
            name={name}
            lang={lang}
    />
</div>
