---
// src/components/molecules/forms/DatePickerField.astro
import DateRangePicker from "@/components/atoms/DateRangePicker.astro";
import Icono from "@/components/atoms/Icono.astro";
import Label from "@/components/atoms/Label.astro";

import { defaultLang, Translations } from "@/i18n/translation.ts";
import Row from "@/layouts/Row.astro";

interface Props {
	fieldId?: string;
	name: string;
	lblKey: string;
	icon?: string;
	lang: string;
	className?: string;
	syncGroup?: string; // Grupo de sincronización
}

const {
	fieldId = "date-range-picker",
	name,
	lblKey,
	lang,
	icon = "form/calendar",
	className,
	syncGroup = "booking", // Por defecto todos se sincronizan
} = Astro.props;

const t = Translations(lang ?? defaultLang);
---

<div class:list={["flex flex-col", className]}>
    <Row class="items-end">
        <Icono name={icon}/>
        <Label
                forId={fieldId}
                lblKey={lblKey}
                lang={lang}
                classes="font-bold"
        />
    </Row>
    <DateRangePicker
            id={fieldId}
            name={name}
            lang={lang}
            placeholder={t('booking.dateRange.placeholder')}
            syncGroup={syncGroup}
    />
    <span id={`error_${fieldId}`} class="hidden text-red-700 px-4 text-sm">
        {t('booking.dateRange.error')}
    </span>
</div>