---
// src/components/molecules/forms/DatePickerField.astro
import { Translations, defaultLang } from '~/i18n/translation.ts';
import Row from '~/layouts/Row.astro';
import DateRangePicker from '../../atoms/DateRangePicker.astro';
import Label from '../../atoms/Label.astro';
import Icono from '../../atoms/Icono.astro';

interface Props {
    fieldId?: string;
    name: string;
    lblKey: string;
    icon?: string;
    lang: string;
    className?: string;
}

const {
    fieldId = 'date-range-picker',
    name,
    lblKey,
    lang,
    icon='calendar',
    className
} = Astro.props;

const t = Translations(lang ?? defaultLang);
---

<div class:list={["flex flex-col", className]}>
    <Row class="items-end">
        <Icono name={icon}/>
        <Label
                forId={fieldId}
                lblKey={lblKey}
                lang={lang}
                classes="font-bold"
        />
    </Row>
    <DateRangePicker
            id={fieldId}
            name={name}
            lang={lang}
            placeholder={t('booking.dateRange.placeholder')}
    />
    <span id={`error_${fieldId}`} class="hidden text-red-700 px-4">{t('booking.dateRange.error')}</span>
</div>
