---
import Icono from "@/components/atoms/Icono.astro";
// src/components/molecules/forms/DropdownField.astro
import { DEFAULT_LANG, Translations } from "@/i18n/translation.ts";
import Row from "@/layouts/Row.astro";
import Label from "../../atoms/Label.astro";
import Select from "../../atoms/Select.astro";

interface Props {
	id?: string;
	fieldId?: string;

	name: string;
	lblKey: string;
	icon: string;

	lang: string;
	options: { value: string | number; label: string }[];
	required?: boolean;
	className?: string;

	onChange?: (value: string | number) => void;
	initialValue?: number;
}

const {
	id,
	fieldId,
	lblKey,
	name,
	icon = "default",
	lang,
	options,
	required,
	className,
	onChange,
	initialValue,
} = Astro.props;

const t = Translations(lang ?? DEFAULT_LANG);
---

<div id={id} class:list={["flex flex-col", className]}>
	<Row class="items-end">
		<Icono name={icon} />
		<Label
			forId={(fieldId ?? id ?? name) as string}
			lblKey={lblKey}
			lang={lang}
			classes="font-bold text-black"
		/>
	</Row>
	<Select
		id={fieldId ?? id ?? name}
		name={name}
		options={options}
		required={required}
		value={initialValue}
	/>
	<span id={`error_${fieldId ?? id ?? name}`} class="hidden text-red-700 px-4"
		>{t("booking.dropdown.error")}</span
	>
</div>
