---
// src/components/molecules/forms/DatePickerField.astro
import { Translations, defaultLang } from '~/i18n/translation.ts';
import Row from '~/layouts/Row.astro';
import Label from '../../atoms/Label.astro';
import Icono from '../../atoms/Icono.astro';
import NumberInput from "~/components/atoms/NumberInput.astro";

interface Props {
    fieldId?: string;
    name: string;
    lblKey: string;
    icon?: string;
    min?: number;
    max?: number;
    step?: number;
    value?: number;
    lang: string;
    className?: string;
}

const {
    fieldId = 'groupAdults',
    name,
    lblKey,
    lang,
    icon,
    min = 0,
    max,
    step = 1,
    value=0,
    className
} = Astro.props;

const t = Translations(lang);
---

<div class:list={["flex flex-col", className]}>
    <Row class="items-end">
        <Icono name={icon}/>
        <Label
                forId={fieldId}
                lblKey={lblKey}
                lang={lang}
                classes="font-bold"
        />
    </Row>
    <NumberInput
            id={fieldId}
            name={name}
            lang={lang}
            min={min}
            max={max}
            step={step}
            value={value}
            placeholder={t('booking.dateRange.placeholder')}
    />
    <span id={`error_${fieldId}`} class="hidden text-red-700 px-4">{t('booking.number.error')}</span>
</div>
