---
// src/components/molecules/forms/SwitchField.astro
import Icono from "@/components/atoms/Icono.astro";
import Label from "@/components/atoms/Label.astro";
import Switch from "@/components/atoms/Switch.astro";

import { Translations } from "@/i18n/translation.ts";
import Row from "@/layouts/Row.astro";

interface Props {
    fieldId: string;
    name: string;
    lblKey: string; // This is the translation key
    lang: string;
    icon?: string;
    checked?: boolean;
    className?: string;
    onChange?: (value: boolean) => void; // Add onChange prop
}

const { fieldId, name, lblKey, checked, className, onChange, lang, icon } =
    Astro.props;
const t = Translations(lang);
---

<div class:list={["flex flex-col", className]}>
    <Row>
        {icon && <Icono name={icon} size="lg" />}
        <Label
            forId={fieldId}
            lblKey={lblKey}
            lang={lang}
            classes="font-bold"
        />
        <Switch
            id={fieldId}
            name={name}
            checked={checked}
            onChange={onChange}
            classes="pl-4"
        />
    </Row>
    <span id={`error_${fieldId}`} class="hidden text-red-700 px-4"
        >{t("booking.number.error")}</span
    >
</div>
