---
import BookingBar from "@/components/organisms/booking/BookingBar.astro";
// import { Translations } from '../i18n/translation.ts';
import VisualCarousel from "@/components/organisms/carousel/VisualCarousel.astro";
import { fetchData } from "@/utils/apiService.js";
import PhotoCollage from "@/components/organisms/collage/PhotoCollage.astro";
import HomeSection from "@/components/organisms/home/HomeSection.astro";
import BaseLayout from "@/layouts/BaseLayout";

const lang = Astro.cookies.get("lang")?.value || "es";

// console.log('Current language:', lang);
// const t = Translations(lang);

const dataConfig = await fetchData('config');
console.log('Home Page Config Data:', dataConfig);
// const carouselResources = dataConfig?.carouselResources || [];
---

<BaseLayout titleKey="site.title" lang={lang}>
  <div class="relative w-full h-screen overflow-hidden">
    <!-- <VisualCarousel resources={carouselResources} videoZoomScale={1.2} /> -->
    <div class="absolute inset-0 flex items-center justify-center z-10 p-4">
      <!-- <BookingBar lang={lang} config={dataConfig} /> -->
    </div>
  </div>

  <div>
    <!-- About Us Section -->
    <!-- {dataConfig?.aboutUs && (
      <section class="py-24">
        <div class="container mx-auto px-6">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
            <div class="text-center md:text-left">
              <h3 class="text-lg font-semibold text-accent mb-2">{dataConfig.aboutUs.subtitle[lang]}</h3>
              <h1 class="text-4xl font-bold text-primary mb-4">{dataConfig.aboutUs.mainTitle[lang]}</h1>
              <p class="text-gray-600 leading-relaxed mb-4">{dataConfig.aboutUs.welcomeParagraph[lang]}</p>
              <p class="text-gray-600 leading-relaxed">{dataConfig.aboutUs.commitmentParagraph[lang]}</p>
            </div>
            <div>
              <PhotoCollage images={dataConfig.aboutUs.images} />
            </div>
          </div>
        </div>
      </section>
    )} -->

    <!-- Sections -->
    <!-- {dataConfig?.roomTypes && (
      <HomeSection
        lang={lang}
        titleKey="nav.rooms"
        items={dataConfig.roomTypes}
        baseHref="/rooms"
        bgColorClass="bg-gray-100"
      />
    )}

    {dataConfig?.destinationCategories && (
      <HomeSection
        lang={lang}
        titleKey="nav.destinations"
        items={dataConfig.destinationCategories}
        baseHref="/destinations"
      />
    )}

    {dataConfig?.gastronomyCategories && (
      <HomeSection
        lang={lang}
        titleKey="nav.gastronomy"
        items={dataConfig.gastronomyCategories}
        baseHref="/gastronomy"
        bgColorClass="bg-gray-100"
      />
    )}

    {dataConfig?.tourCategories && (
      <HomeSection
        lang={lang}
        titleKey="nav.tours"
        items={dataConfig.tourCategories}
        baseHref="/tours"
      />
    )} -->
  </div>
</BaseLayout>
