---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/global.css';
import { useTranslations } from '../i18n/translation';

const { titleKey, lang, config } = Astro.props;
const t = useTranslations(lang);
const title = t(titleKey);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen overflow-x-hidden">
    <Header t={t} config={config} lang={lang} />
    <main class="flex-grow w-full overflow-x-hidden"> {/* Added w-full and overflow-x-hidden */}
      <slot />
    </main>
    <Footer t={t} />
  </body>
</html>
