---
import Header from '../components/core/Header.astro';
import Footer from '../components/core/Footer.astro';
import '../styles/global.css';
import { Translations } from '../i18n/translation.ts';
import { fetchData } from "~/services/api";

const { titleKey, lang } = Astro.props;
const t = Translations(lang);
const title = t(titleKey);

const siteConfig = await fetchData('siteConfig');
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen overflow-x-hidden">
    <Header t={t} config={siteConfig} lang={lang} />
    <main class="flex-grow w-full overflow-x-hidden"> {/* Added w-full and overflow-x-hidden */}
      <slot />
    </main>
    <Footer t={t} config={siteConfig} lang={lang}/>
  </body>
</html>
